<div class="main-content" ng-controller="DashboardController">


    <div class="row">
        <div class="col s12">
            <ul class="tabs theme1">
                <li class="tab col s3"><a href="#tab1" class="active">Projects I've Created</a></li>
                <li class="tab col s3"><a href="#tab2" >Classes I'm Enrolled</a></li>
                <li class="tab col s3"><a href="#tab3">Classes I've Saved Later</a></li>
            </ul>
        </div>
        <div id="tab1" class="col s12">
            <div class="tab-content theme1 z-depth-1">
                <div class="grid">
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div id="tab2" class="col s12">
            <div class="tab-content theme1 z-depth-1">
                <div class="grid">
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="tab3" class="col s12">
            <div class="tab-content theme1 z-depth-1">
                <div class="grid">
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">

                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">

                </div>
            </div>
        </div>
    </div>


</div>

<script>

</script>